/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #180202;
    background-image: url('360_F_180260315_gREfK8CvdnJN7mrUcopHsYvOdJs5qh0N.jpg'); /* Add your own image URL here */
    background-size: 1000px;
    background-position: auto;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 2px;
}

/* Main Styles */
main {
    padding: 20px;
}

/* Search Styles */
.search {
    margin-bottom: 20px;
    text-align: center;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 300px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 20px);
    max-width: 300px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
/* Recipe List Styles */
#recipeList {
    font-weight: bold; /* Make recipe list output bold */
}
